Repository oracle/graal, pull requests merged in 2020-06, with the labels that each got.

#2520 fix debuginfotest gate test
  substratevm/mx.substratevm/testhello.py
Labels: oca-signed

#2294 Capture NoClassDefFoundError and report with source type
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/classinitialization/ClassInitializationFeature.java
Labels: oca-signed

#2543 [GR-23944] Eliminate com.oracle.svm.hosted dependency to mx:ASM_7.1.
  substratevm/mx.substratevm/suite.py
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/NativeImageGeneratorRunner.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/agent/ClassInitializationTrackingVisitor.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/agent/NativeImageBytecodeInstrumentationAgent.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/agent/jdk8/lambda/LambdaMetaFactoryRewriteVisitor.java
Labels: oracle-emp

#2471 AArch64: Add Math.multiplyHigh intrinsic on AArch64.
  compiler/mx.compiler/suite.py
  compiler/src/org.graalvm.compiler.hotspot.test/src/org/graalvm/compiler/hotspot/test/CheckGraalIntrinsics.java
  compiler/src/org.graalvm.compiler.replacements.aarch64/src/org/graalvm/compiler/replacements/aarch64/AArch64GraphBuilderPlugins.java
  compiler/src/org.graalvm.compiler.replacements.jdk10.test/src/org/graalvm/compiler/replacements/jdk10/test/MathMultiplyHighTest.java
Labels: accept, compiler, oca-signed

#2563 Remove AArch64 feature fDMBATOMICS in SVM
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/aarch64/AArch64CPUFeatureAccess.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/aarch64/AArch64LibCHelper.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/NativeImageOptions.java
  substratevm/src/com.oracle.svm.native.libchelper/include/aarch64cpufeatures.h
  substratevm/src/com.oracle.svm.native.libchelper/src/cpuid.c
Labels: accept, native-image, oca-signed

#2544 Apply access filter to proxy interfaces.
  substratevm/src/com.oracle.svm.agent/src/com/oracle/svm/agent/restrict/ProxyAccessVerifier.java
  substratevm/src/com.oracle.svm.configure/src/com/oracle/svm/configure/filters/FilterConfigurationParser.java
  substratevm/src/com.oracle.svm.configure/src/com/oracle/svm/configure/trace/ReflectionProcessor.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/configure/ConfigurationParser.java
Labels: agent, native-image, oracle-emp, spring

#2533 Remote attach options are not only ports #2532
  substratevm/src/com.oracle.svm.driver/resources/HelpExtra.txt
  substratevm/src/com.oracle.svm.driver/src/com/oracle/svm/driver/DefaultOptionHandler.java
Labels: oca-signed

#2248 AArch64: Eliminate redundant constant load instructions.
  compiler/src/org.graalvm.compiler.core.aarch64/src/org/graalvm/compiler/core/aarch64/AArch64ArithmeticLIRGenerator.java
  compiler/src/org.graalvm.compiler.core.aarch64/src/org/graalvm/compiler/core/aarch64/AArch64NodeMatchRules.java
  compiler/src/org.graalvm.compiler.core.amd64/src/org/graalvm/compiler/core/amd64/AMD64ArithmeticLIRGenerator.java
  compiler/src/org.graalvm.compiler.core.amd64/src/org/graalvm/compiler/core/amd64/AMD64NodeMatchRules.java
  compiler/src/org.graalvm.compiler.core.match.processor/src/org/graalvm/compiler/core/match/processor/MatchProcessor.java
  compiler/src/org.graalvm.compiler.core/src/org/graalvm/compiler/core/gen/NodeLIRBuilder.java
  compiler/src/org.graalvm.compiler.core/src/org/graalvm/compiler/core/match/MatchContext.java
  compiler/src/org.graalvm.compiler.core/src/org/graalvm/compiler/core/match/MatchPattern.java
  compiler/src/org.graalvm.compiler.core/src/org/graalvm/compiler/core/match/MatchableNode.java
  compiler/src/org.graalvm.compiler.core/src/org/graalvm/compiler/core/match/SharedMatchValue.java
Labels: oca-signed

#2596 Fix native-image-maven-plugin for Windows
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/OS.java
  substratevm/src/native-image-maven-plugin/src/main/java/com/oracle/substratevm/NativeImageMojo.java
Labels: oracle-emp

#2603 Make -g an alias for -H:GenerateDebugInfo=2
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/SubstrateOptions.java
Labels: oracle-emp

#2567 Fix reachability checks in the presence of @GenerateUncached.
  truffle/src/com.oracle.truffle.api.dsl.test/src/com/oracle/truffle/api/dsl/test/ReachabilityTest.java
  truffle/src/com.oracle.truffle.dsl.processor/src/com/oracle/truffle/dsl/processor/model/SpecializationData.java
  truffle/src/com.oracle.truffle.dsl.processor/src/com/oracle/truffle/dsl/processor/parser/NodeParser.java
Labels: accept, truffle

#2590 Optimizing VolatileReadNode out causes wrong memory state to propagate
  compiler/src/org.graalvm.compiler.core.test/src/org/graalvm/compiler/core/test/LateMembarInsertionTest.java
  compiler/src/org.graalvm.compiler.core.test/src/org/graalvm/compiler/core/test/VolatileReadEliminateWrongMemoryStateTest.java
  compiler/src/org.graalvm.compiler.nodes/src/org/graalvm/compiler/nodes/memory/VolatileReadNode.java
  compiler/src/org.graalvm.compiler.replacements/src/org/graalvm/compiler/replacements/DefaultJavaLoweringProvider.java
Labels: oca-signed

#2610 Travis: Update Ubuntu distribution
  .travis.yml
Labels: oca-signed

#2612 Generate correct debug info for deoptimization target methods
  substratevm/src/com.oracle.objectfile/src/com/oracle/objectfile/debugentry/ClassEntry.java
  substratevm/src/com.oracle.objectfile/src/com/oracle/objectfile/debugentry/DebugInfoBase.java
  substratevm/src/com.oracle.objectfile/src/com/oracle/objectfile/debugentry/Range.java
  substratevm/src/com.oracle.objectfile/src/com/oracle/objectfile/debuginfo/DebugInfoProvider.java
  substratevm/src/com.oracle.objectfile/src/com/oracle/objectfile/elf/dwarf/DwarfARangesSectionImpl.java
  substratevm/src/com.oracle.objectfile/src/com/oracle/objectfile/elf/dwarf/DwarfFrameSectionImpl.java
  substratevm/src/com.oracle.objectfile/src/com/oracle/objectfile/elf/dwarf/DwarfInfoSectionImpl.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/image/NativeImageDebugInfoProvider.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/meta/HostedMethod.java
Labels: oca-signed

#2618 Disable the image build server by default
  substratevm/mx.substratevm/mx_substratevm.py
  substratevm/src/com.oracle.svm.driver/resources/HelpExtra.txt
  substratevm/src/com.oracle.svm.driver/resources/HelpServer.txt
  substratevm/src/com.oracle.svm.driver/src/com/oracle/svm/driver/NativeImageServer.java
  substratevm/src/com.oracle.svm.driver/src/com/oracle/svm/driver/ServerOptionHandler.java
Labels: oracle-emp
