Repository oracle/graal, pull requests merged in 2020-04, with the labels that each got.

#2049 AArch64: Only disable foreign call math intrinsics for native image.
  compiler/src/org.graalvm.compiler.hotspot.aarch64/src/org/graalvm/compiler/hotspot/aarch64/AArch64HotSpotBackendFactory.java
  compiler/src/org.graalvm.compiler.replacements.aarch64/src/org/graalvm/compiler/replacements/aarch64/AArch64GraphBuilderPlugins.java
  compiler/src/org.graalvm.compiler.replacements.amd64/src/org/graalvm/compiler/replacements/amd64/AMD64GraphBuilderPlugins.java
  compiler/src/org.graalvm.compiler.replacements/src/org/graalvm/compiler/replacements/TargetGraphBuilderPlugins.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/NativeImageGenerator.java
Labels: accept, compiler, native-image, oca-signed

#2288 Fix 2287 - ImageClassLoader should only hold on to method/field that have annotations
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/ImageClassLoader.java
Labels: oca-signed

#2324 Update Arm copyright regex.
  compiler/mx.compiler/copyrights/oracle.copyright.regex.star
Labels: accept, compiler, oca-signed

#2168 AArch64: Merge shift pair and integral narrow into add/sub
  compiler/src/org.graalvm.compiler.asm.aarch64.test/src/org/graalvm/compiler/asm/aarch64/test/TestProtectedAssembler.java
  compiler/src/org.graalvm.compiler.asm.aarch64/src/org/graalvm/compiler/asm/aarch64/AArch64Assembler.java
  compiler/src/org.graalvm.compiler.core.aarch64.test/src/org/graalvm/compiler/core/aarch64/test/AArch64ArrayAddressTest.java
  compiler/src/org.graalvm.compiler.core.aarch64.test/src/org/graalvm/compiler/core/aarch64/test/AArch64MergeExtendWithAddSubTest.java
  compiler/src/org.graalvm.compiler.core.aarch64.test/src/org/graalvm/compiler/core/aarch64/test/AArch64MergeNarrowWithAddSubTest.java
  compiler/src/org.graalvm.compiler.core.aarch64/src/org/graalvm/compiler/core/aarch64/AArch64NodeMatchRules.java
  compiler/src/org.graalvm.compiler.lir.aarch64/src/org/graalvm/compiler/lir/aarch64/AArch64ArithmeticOp.java
Labels: compiler, oca-signed

#2337 Allow building with OpenJDK 11u and vendor jlink plugins
  sdk/mx.sdk/mx_sdk_vm.py
Labels: oca-signed

#2346 Fix relative paths on Windows on JDK 11
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/FileSystemProviderSupport.java
Labels: oracle-emp

#2351 Fix Truffle build when MX_ALT_OUTPUT_ROOT points outside the repo
  truffle/mx.truffle/mx_truffle.py
Labels: oracle-emp

#2343 Initialize classes with simple side-effect-free class initializers before static analysis
  substratevm/mx.substratevm/mx_substratevm.py
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/Target_org_graalvm_nativeimage_impl_clinit_ClassInitializationTracking.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/NativeImageGenerator.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/ameta/AnalysisConstantReflectionProvider.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/classinitialization/ClassInitializerGraphBuilderPhase.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/classinitialization/ConfigurableClassInitialization.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/classinitialization/EarlyClassInitializerAnalysis.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/phases/EarlyConstantFoldLoadFieldPlugin.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/snippets/SubstrateGraphBuilderPlugins.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/substitute/UnsafeAutomaticSubstitutionProcessor.java
  substratevm/src/com.oracle.svm.test/src/com/oracle/svm/test/TestClassInitializationMustBeSafe.java
  truffle/src/com.oracle.truffle.sl/src/META-INF/native-image/native-image.properties
Labels: oracle-emp

#2360 Support WithExceptionNode in IntrinsicGraphBuilder
  compiler/src/org.graalvm.compiler.replacements/src/org/graalvm/compiler/replacements/IntrinsicGraphBuilder.java
  substratevm/src/com.oracle.graal.pointsto/src/com/oracle/graal/pointsto/phases/SubstrateIntrinsicGraphBuilder.java
Labels: oracle-emp

#2338 Use Maven Toolchain in native-image-maven-plugin
  substratevm/src/native-image-maven-plugin/src/main/java/com/oracle/substratevm/NativeImageMojo.java
Labels: oca-signed

#2366 look for app sources in correct locations
  substratevm/DEBUGINFO.md
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/image/sources/ApplicationSourceCache.java
Labels: oca-signed

#2371 Implement proper behaviour for POSIX Truffle NFI feature for different libc implementations.
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/c/libc/GLibc.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/c/libc/LibCBase.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/c/libc/MuslLibc.java
  substratevm/src/com.oracle.svm.truffle.nfi.posix/src/com/oracle/svm/truffle/nfi/posix/PosixTruffleNFIFeature.java
  substratevm/src/com.oracle.svm.truffle.nfi.posix/src/com/oracle/svm/truffle/nfi/posix/Target_com_oracle_truffle_nfi_impl_NFIContextLinux.java
Labels: oracle-emp

#2380 [GR-22749]: Fix native-image buffer overflow on windows using Chinese Charset.
  substratevm/src/com.oracle.objectfile/src/com/oracle/objectfile/pecoff/PECoffSymtabStruct.java
Labels: oracle-emp

#2359 Reinitialize random seed at runtime in Windows Native image, JDK 11
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/SecurityServicesFeature.java
Labels: oca-signed

#2401 fix openjdk8 URL in Travis
  .travis.yml
Labels: oracle-emp

#2393 Provide java.lang.Terminator.setup() via --install-exit-handlers
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/SubstrateExitHandlerFeature.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/SubstrateOptions.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/jdk/JNIRegistrationJava.java
Labels: oracle-emp

#2407 Clear lazily initialized caches of MethodHandle implementation classes
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/annotate/RecomputeFieldValue.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/c/BoxedRelocatedPointer.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/Target_java_lang_invoke_MethodType.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/Target_java_lang_invoke_MethodTypeForm.java
  substratevm/src/com.oracle.svm.graal/src/com/oracle/svm/graal/hosted/GraalObjectReplacer.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/substitute/ComputedValueField.java
Labels: oracle-emp

#2403 Expect AVX3Threshold on all JDKs >= 11
  compiler/src/org.graalvm.compiler.hotspot/src/org/graalvm/compiler/hotspot/GraalHotSpotVMConfig.java
  compiler/src/org.graalvm.compiler.hotspot/src/org/graalvm/compiler/hotspot/GraalHotSpotVMConfigAccess.java
  compiler/src/org.graalvm.compiler.serviceprovider.jdk11/src/org/graalvm/compiler/serviceprovider/GraalServices.java
  compiler/src/org.graalvm.compiler.serviceprovider.jdk13/src/org/graalvm/compiler/serviceprovider/GraalServices.java
  compiler/src/org.graalvm.compiler.serviceprovider.jdk8/src/org/graalvm/compiler/serviceprovider/GraalServices.java
  compiler/src/org.graalvm.compiler.serviceprovider/src/org/graalvm/compiler/serviceprovider/GraalServices.java
Labels: oca-signed

#2409 Support ClassLoader.createOrGetClassLoaderValueMap()
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/Target_java_lang_ClassLoader.java
Labels: oracle-emp
