Repository oracle/graal, pull requests merged in 2020-05, with the labels that each got.

#2427 Support MaxDirectMemorySize
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/SubstrateOptions.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/heap/Target_java_lang_ref_Reference.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/Target_java_nio_Bits_JDK8.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/Target_jdk_internal_misc_VM.java
Labels: oracle-emp

#2433 correct computation of prologue size
  substratevm/src/com.oracle.objectfile/src/com/oracle/objectfile/elf/dwarf/DwarfLineSectionImpl.java
Labels: oca-signed

#2422 Introduce configurable access filter in agent.
  substratevm/CONFIGURE.md
  substratevm/src/com.oracle.svm.agent/src/com/oracle/svm/agent/NativeImageAgent.java
  substratevm/src/com.oracle.svm.configure/src/com/oracle/svm/configure/ConfigurationTool.java
  substratevm/src/com.oracle.svm.configure/src/com/oracle/svm/configure/trace/AccessAdvisor.java
  substratevm/src/com.oracle.svm.configure/src/com/oracle/svm/configure/trace/TraceProcessor.java
Labels: agent, feature, oracle-emp, spring

#2423 Tweak compiler assertion
  sulong/projects/com.oracle.truffle.llvm.runtime/src/com/oracle/truffle/llvm/runtime/nodes/control/LLVMDispatchBasicBlockNode.java
Labels: oca-signed

#2454 Allow user-defined image inclusion of builtin modules.
  sdk/mx.sdk/mx_sdk_vm.py
  substratevm/src/com.oracle.svm.driver/src/com/oracle/svm/driver/MacroOptionHandler.java
  substratevm/src/com.oracle.svm.driver/src/com/oracle/svm/driver/NativeImage.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/ImageClassLoader.java
  substratevm/src/com.oracle.svm.util.jdk11/src/com/oracle/svm/util/ModuleSupport.java
  substratevm/src/com.oracle.svm.util/src/com/oracle/svm/util/ModuleSupport.java
  truffle/mx.truffle/macro-truffle.properties
Labels: oracle-emp

#2465 Use custom JvmFuncsFallbacksBuildTask for JvmFuncsFallbacks.c generation.
  substratevm/mx.substratevm/mx_substratevm.py
  substratevm/src/com.oracle.svm.test/src/com/oracle/svm/test/JVMFuncFallbackTest.java
Labels: oracle-emp

#2475 Fix pending reference list corruption during discovery.
  substratevm/src/com.oracle.svm.core.genscavenge/src/com/oracle/svm/core/genscavenge/ReferenceObjectProcessing.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/heap/Target_java_lang_ref_Reference.java
Labels: bug, oracle-emp

#2446 AArch64: jaotc generates incorrect code for compressed OOPs with non-zero heap base
  compiler/src/org.graalvm.compiler.hotspot.aarch64/src/org/graalvm/compiler/hotspot/aarch64/AArch64HotSpotMove.java
Labels: oca-signed

#2477 don't verify compiler if it won't be used
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/NativeImageGenerator.java
Labels: oca-signed

#2483 Search cl.exe version string so that it works for non-English setups
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/c/codegen/CCompilerInvoker.java
Labels: oracle-emp

#2414 Prevent exception from being swallowed in maven-plugin
  substratevm/src/native-image-maven-plugin/src/main/java/com/oracle/substratevm/NativeImageMojo.java
Labels: oca-signed

#2499 Support cl.exe detection for Simplified-Chinese and other languages
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/c/codegen/CCompilerInvoker.java
Labels: oracle-emp

#2459 Debug info test
  .travis.yml
  substratevm/DEBUGINFO.md
  substratevm/mx.substratevm/mx_substratevm.py
  substratevm/mx.substratevm/testhello.py
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/SubstrateOptions.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/image/sources/JDKSourceCache.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/image/sources/SourceCache.java
  substratevm/src/com.oracle.svm.test/src/hello/Hello.java
Labels: oca-signed

#2455 [GR-23150] Fix several JDK 15 related issues with native-image
  substratevm/src/com.oracle.graal.pointsto/src/com/oracle/graal/pointsto/flow/MethodFlowsGraph.java
  substratevm/src/com.oracle.svm.core.jdk15/src/com/oracle/svm/core/jdk15/Target_jdk_internal_loader_BootLoader_JDK15OrLater.java
  substratevm/src/com.oracle.svm.core.jdk8/src/com/oracle/svm/core/jdk8/LocaleSubstitutionsJDK8.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/hub/DynamicHub.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/Target_jdk_nashorn_api_scripting_ClassFilter.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jdk/Target_jdk_nashorn_api_scripting_NashornScriptEngineFactory.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/SVMHost.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/classinitialization/ConfigurableClassInitialization.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/jdk/JNIRegistrationJavaNet.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/phases/IntrinsifyMethodHandlesInvocationPlugin.java
Labels: oca-signed
