Repository oracle/graal, pull requests merged in 2020-03, with the labels that each got.

#2174 sulong: Don't run AVX intrinsic tests on non X86 platforms
  sulong/mx.sulong/suite.py
  sulong/tests/com.oracle.truffle.llvm.tests.sulongavx.native/avx/intrinsics/compare.c
  sulong/tests/com.oracle.truffle.llvm.tests.sulongavx.native/avx/intrinsics/movemask.c
Labels: llvm, oca-signed

#2227 Add watchdog to diagnose deadlocks during image building
  substratevm/src/com.oracle.graal.pointsto/src/com/oracle/graal/pointsto/BigBang.java
  substratevm/src/com.oracle.graal.pointsto/src/com/oracle/graal/pointsto/util/CompletionExecutor.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/DeadlockWatchdog.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/NativeImageGenerator.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/analysis/Inflation.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/code/CompileQueue.java
Labels: oracle-emp

#2173 sulong: test libc/getchar/getchar should use int
  sulong/tests/com.oracle.truffle.llvm.tests.libc.native/libc/getchar/getchar.c
Labels: oca-signed

#2258 Make image symbols accessible after image write phase
  substratevm/src/com.oracle.svm.core.graal.llvm/src/com/oracle/svm/core/graal/llvm/LLVMNativeImageCodeCache.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/LinkerInvocation.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/FeatureImpl.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/NativeImageGenerator.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/image/LIRNativeImageCodeCache.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/image/NativeBootImageViaCC.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/image/NativeImageCodeCache.java
Labels: oracle-emp

#2266 Avoid calling internal CoreFoundation methods on Darwin
  substratevm/mx.substratevm/suite.py
  substratevm/src/com.oracle.svm.core.posix/src/com/oracle/svm/core/posix/darwin/DarwinCoreFoundationUtils.java
  substratevm/src/com.oracle.svm.core.posix/src/com/oracle/svm/core/posix/darwin/DarwinSystemPropertiesSupport.java
  substratevm/src/com.oracle.svm.core.posix/src/com/oracle/svm/core/posix/headers/PosixDirectives.java
  substratevm/src/com.oracle.svm.core.posix/src/com/oracle/svm/core/posix/headers/darwin/Foundation.java
  substratevm/src/com.oracle.svm.native.darwin/src/foundation.c
Labels: oracle-emp

#2161 optimize hash switch generation
  compiler/src/org.graalvm.compiler.core.amd64/src/org/graalvm/compiler/core/amd64/AMD64LIRGenerator.java
  compiler/src/org.graalvm.compiler.jtt/src/org/graalvm/compiler/jtt/optimize/SwitchHashTableTest.java
  compiler/src/org.graalvm.compiler.lir.amd64/src/org/graalvm/compiler/lir/amd64/AMD64ControlFlow.java
  compiler/src/org.graalvm.compiler.lir/src/org/graalvm/compiler/lir/gen/LIRGenerator.java
  compiler/src/org.graalvm.compiler.lir/src/org/graalvm/compiler/lir/hashing/HashFunction.java
  compiler/src/org.graalvm.compiler.lir/src/org/graalvm/compiler/lir/hashing/Hasher.java
  compiler/src/org.graalvm.compiler.lir/src/org/graalvm/compiler/lir/hashing/IntHasher.java
Labels: oca-signed

#2275 fixed optionality for VM config values added in JDK 12
  compiler/src/org.graalvm.compiler.hotspot/src/org/graalvm/compiler/hotspot/GraalHotSpotVMConfig.java
  compiler/src/org.graalvm.compiler.hotspot/src/org/graalvm/compiler/hotspot/GraalHotSpotVMConfigAccess.java
Labels: oracle-emp

#2282 Fix memory leak on Windows with isolates
  substratevm/src/com.oracle.svm.core.posix/src/com/oracle/svm/core/posix/PosixOSCommittedMemoryProviderFeature.java
  substratevm/src/com.oracle.svm.core.windows/src/com/oracle/svm/core/windows/WindowsOSCommittedMemoryProvider.java
  substratevm/src/com.oracle.svm.core.windows/src/com/oracle/svm/core/windows/WindowsStackOverflowSupport.java
  substratevm/src/com.oracle.svm.core.windows/src/com/oracle/svm/core/windows/WindowsVirtualMemoryProvider.java
  substratevm/src/com.oracle.svm.core.windows/src/com/oracle/svm/core/windows/headers/MemoryAPI.java
  substratevm/src/com.oracle.svm.core.windows/src/com/oracle/svm/core/windows/headers/WinBase.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/os/CommittedMemoryProvider.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/os/OSCommittedMemoryProvider.java
Labels: oracle-emp

#2249 Canonicalize negate node to unsigned right shift.
  compiler/src/org.graalvm.compiler.core.test/src/org/graalvm/compiler/core/test/NegateCanonicalizationTest.java
  compiler/src/org.graalvm.compiler.nodes/src/org/graalvm/compiler/nodes/calc/NegateNode.java
Labels: oca-signed

#2246 Fix a few typos in Truffle Changelog
  truffle/CHANGELOG.md
Labels: accept, tracking

#2278 disable synchronization of constant pool type resolution in native-image (#2235)
  compiler/src/org.graalvm.compiler.java/src/org/graalvm/compiler/java/BytecodeParser.java
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/phases/SharedGraphBuilderPhase.java
Labels: oracle-emp

#2296 fix optionality of EpsilonGC and ZGC flag values
  compiler/src/org.graalvm.compiler.hotspot/src/org/graalvm/compiler/hotspot/HotSpotGraalRuntime.java
Labels: oracle-emp

#1936 Re-enable unittest StringIndexOfTest for AArch64
  compiler/src/org.graalvm.compiler.replacements.test/src/org/graalvm/compiler/replacements/test/StringIndexOfTestBase.java
Labels: accept, compiler, oca-signed
