Repository oracle/graal, pull requests merged in 2020-01, with the labels that each got.

#2030 Use GraalUnsafeAccess where available
  compiler/src/org.graalvm.compiler.core.test/src/org/graalvm/compiler/core/test/OffHeapUnsafeAccessTest.java
  compiler/src/org.graalvm.compiler.core.test/src/org/graalvm/compiler/core/test/ea/PartialEscapeUnsafeStoreTest.java
  compiler/src/org.graalvm.compiler.test/src/org/graalvm/compiler/test/GraalTest.java
Labels: oca-signed

#2006 MarkBasePointersPhase: Base pointers do not die at the definition of…
  compiler/src/org.graalvm.compiler.lir/src/org/graalvm/compiler/lir/constopt/ConstantLoadOptimization.java
  compiler/src/org.graalvm.compiler.lir/src/org/graalvm/compiler/lir/dfa/MarkBasePointersPhase.java
  compiler/src/org.graalvm.compiler.lir/src/org/graalvm/compiler/lir/util/IndexedValueMap.java
Labels: bug, compiler, oracle-emp

#2060 AArch64: Elide NarrowNode for Extend.
  compiler/src/org.graalvm.compiler.core.aarch64.test/src/org/graalvm/compiler/core/aarch64/test/AArch64ElideL2ITest.java
  compiler/src/org.graalvm.compiler.core.aarch64.test/src/org/graalvm/compiler/core/aarch64/test/AArch64MergeNarrowWithExtendTest.java
  compiler/src/org.graalvm.compiler.core.aarch64/src/org/graalvm/compiler/core/aarch64/AArch64NodeMatchRules.java
Labels: compiler, oca-signed, performance

#1969 AArch64: Match rules for rotations.
  compiler/src/org.graalvm.compiler.asm.aarch64.test/src/org/graalvm/compiler/asm/aarch64/test/TestProtectedAssembler.java
  compiler/src/org.graalvm.compiler.asm.aarch64/src/org/graalvm/compiler/asm/aarch64/AArch64Assembler.java
  compiler/src/org.graalvm.compiler.asm.aarch64/src/org/graalvm/compiler/asm/aarch64/AArch64MacroAssembler.java
  compiler/src/org.graalvm.compiler.core.aarch64.test/src/org/graalvm/compiler/core/aarch64/test/AArch64RotationTest.java
  compiler/src/org.graalvm.compiler.core.aarch64/src/org/graalvm/compiler/core/aarch64/AArch64NodeMatchRules.java
  compiler/src/org.graalvm.compiler.lir.aarch64/src/org/graalvm/compiler/lir/aarch64/AArch64ArithmeticOp.java
Labels: oca-signed

#1967 AArch64: Merge bitwise not into logical operations.
  compiler/src/org.graalvm.compiler.asm.aarch64/src/org/graalvm/compiler/asm/aarch64/AArch64MacroAssembler.java
  compiler/src/org.graalvm.compiler.core.aarch64.test/src/org/graalvm/compiler/core/aarch64/test/AArch64BitwiseLogicalNotTest.java
  compiler/src/org.graalvm.compiler.core.aarch64/src/org/graalvm/compiler/core/aarch64/AArch64NodeMatchRules.java
  compiler/src/org.graalvm.compiler.lir.aarch64/src/org/graalvm/compiler/lir/aarch64/AArch64ArithmeticOp.java
Labels: oca-signed

#443 Use <pre/> instead of <code/> for example snippet
  truffle/src/com.oracle.truffle.api.dsl/src/com/oracle/truffle/api/dsl/Cached.java
Labels: oca-signed, tracking, truffle

#1682 Change cachedName type to String
  truffle/src/com.oracle.truffle.sl/src/com/oracle/truffle/sl/runtime/SLObjectType.java
Labels: oca-signed, tracking, truffle

#1732 `isCloningAllowed` should not be @CompilationFinal
  truffle/src/com.oracle.truffle.sl/src/com/oracle/truffle/sl/nodes/SLRootNode.java
Labels: oca-signed, tracking, truffle

#1888 Fix Version javadoc
  sdk/src/org.graalvm.home/src/org/graalvm/home/Version.java
Labels: oca-signed, tracking, truffle

#840 Add TRegex to the list of Truffle language implementations
  truffle/docs/Languages.md
Labels: oca-signed, tracking, truffle

#2016 Transition --engine options in the Truffle optimization documentation
  truffle/docs/Optimizing.md
Labels: oca-signed, tracking, truffle

#2021 Fix documented return value
  truffle/src/com.oracle.truffle.api/src/com/oracle/truffle/api/TruffleFile.java
Labels: oca-signed, tracking, truffle

#2042 Allow user to override extra_jvm_args with --vm.…
  sdk/mx.sdk/vm/launcher_template.cmd
  sdk/mx.sdk/vm/launcher_template.sh
Labels: oca-signed, tracking, truffle

#2096 Explain why implicitExceptionBytes may be null
  compiler/src/jdk.tools.jaotc/src/jdk/tools/jaotc/MetadataBuilder.java
Labels: oca-signed
