Repository oracle/graal, pull requests merged in 2023-10, with the labels that each got.

#7423 [GR-49402] Correct mangling of primitive types in BFD name mangler
  substratevm/mx.substratevm/testhello.py
  substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/image/NativeImageBFDNameProvider.java
  substratevm/src/com.oracle.svm.test/src/hello/Hello.java
Labels: native-image, native-image-debuginfo, OCA Verified, redhat-interest

#7518 Omit internal jdk.JavaMonitorWait JFR events
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jfr/Target_jdk_jfr_internal_JVM_ChunkRotationMonitor.java
  substratevm/src/com.oracle.svm.core/src/com/oracle/svm/core/jfr/events/JavaMonitorWaitEvent.java
Labels: native-image, OCA Verified, redhat-interest, native-image-jfr

#7205 [GR-48144] Fix native-image build with --no-jlinking
  sdk/mx.sdk/mx_sdk_vm_impl.py
  substratevm/src/com.oracle.svm.driver/src/com/oracle/svm/driver/NativeImage.java
Labels: OCA Verified, redhat-interest

#7624 Introduce `--disable-debuginfo-stripping` mx argument
  sdk/mx.sdk/mx_sdk_vm_impl.py
Labels: OCA Verified, redhat-interest
